.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio-container {
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  background-color: #30cfd0;
  padding-bottom: 100px;
  padding-top: 50px;
  margin: 2px;
  border-radius: 10px;
}

.portfolio-title {
  color: #4b5359;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  font-size: 40px;
}

.project-card {
  flex: 1 1 300px;
  margin: 8px;
  transition: transform 0.3s ease-in-out;
}

.project-card:hover {
  transform: translateY(-10px);
}
