.logos {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 100px;
}

.tech-stack-container {
  margin: 10px;
  padding-top: 50px;
  border-radius: 10px;
}


.tech-stack-title {
  color: white;
  padding-left: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 40px;
}

.rotate {
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scale {
  animation: scale 2s ease-in-out infinite alternate;
}

@keyframes scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.move {
  animation: move 3s ease-in-out infinite alternate;
}

@keyframes move {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(10px);
  }
}
